<header class="site-header">
  <a href="<%= relative_url '/' %>" class="site-brand">NT in One Year</a>
</header>

<nav class="site-nav">
  <ul>
    <li><a href="<%= relative_url '/' %>">Home</a></li>
    <li><a href="<%= relative_url '/how-to-use' %>">How to Use</a></li>
    <li><a href="<%= relative_url '/chronological-overview' %>">Why Chronological?</a></li>
  </ul>
</nav>
